body {

    background: linear-gradient(#7F9183,#B8B8AA,#586F6B );
    height: 1550px;
}

h1 {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#2e3a38;
    font-size: 25px;
    font-weight: 400;
}


.wholelist {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #c8e9df;
     
}

input[type="number"] {
    width: 40px;
}

img  {

    height: 150px;
    width: auto;
    position: sticky;
    left: 20px;
}