:root {

  --main-radius:5px;
  --main-padding:5px;

}



.container {
  
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2.8fr 0.2fr;
    grid-template-areas:
      "nav nav nav"
      "content1 content2 content3"
      "footer footer footer";
    grid-gap:0.2rem;

  }

  .food-list {
    max-height: 450px; /* Set a height for your food list */
    overflow-y: auto;  /* Enables vertical scrolling within the list */
    margin-right: 20px; /* Space between the food list and the scrollbar */
    padding: 10px; /* Optional: Adds some padding */
    
}


 

button {

      background-color:#7F9183;
      border-radius: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      
    }
  
body {
    
    background: linear-gradient(#7F9183,#B8B8AA,#586F6B );
    
  }
  
nav {
    background-color:#6D5A72;
    grid-area: nav;
    font-size: 20px;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
    
     }
    
 
#content1 {
    
    grid-area: content1;
    
    }
  
  #content2 {
    
    
      grid-area: content2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
  
      }

    h1 {

      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 30px;
      font-weight: 450;
      color: #c8e9df;
      text-align: center;
      grid-area: content2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      padding-top: 5px;

    }

img {

  height: 100px;
  grid-area: content2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      padding-top: 20px;
  
}
  
  #content3 {
    
    grid-area: content3;
      
    }
  


  .wholelist {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #c8e9df;
    text-align: center;
   
     
}

input[type="number"] {
  width: 40px;
}

footer {
  background: #6D5A72;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
    
}



@media only screen and (max-width: 550px) {

  .container {

    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3.5fr 0.5fr;
    grid-template-areas:
    "nav"
    "content2"
    "footer"
  }

  .wholelist {

    font-size: 20px;
  }
}

